h1{
    display: inline-block;  
    vertical-align:top
  
}

header{
    background-color:white;
    height: 75px;
   
}

#foto1{
    margin-top: 15px;
    margin-left: 15px;   
}


.conteiner{
    background-color:white;
    width:750px;
    height:650px;
    border-radius: 4px;
    box-sizing: border-box;
    margin: auto;
    margin-top: 30px;
} 

body{
    background-color: whitesmoke;
}

#bottone1{
    color: white;
    background-color: blue;
    border: none;
    border-radius: 4px;
    margin-left: 50px;
    margin-top: 10px;
    

}

#bottone2{
    color: grey;
    background-color: white;
    border-color: grey;
    border-radius: 4px;
    border-width: 1px;
}

h3{
    margin-left: 50px;
}

.vero{
    margin-left: 50px;
    color: green;
    border-radius: 50%;
    border: 1px solid green;
    
   
}

.nuvolablu {
    background-color:lightskyblue;
    color: white;
    border-radius: 10px;
    font-size: 10px;
}


.nuvolaviola{
    background-color:violet;
    color: white;
    border-radius: 10px;
    font-size: 10px;
}

.nuvolaverde{
    background-color:#3cb371;
    color: white;
    border-radius: 10px;
    font-size: 10px;
}

.falso{
    margin-left: 50px;
    color: red;
    border-radius: 50%;
    border: 1px solid red;  
}


.nuvolaarancio{
    background-color:orange;
    color: white;
    border-radius: 10px;
    font-size: 10px;
}

.nuvolafucsia{
    background-color:fuchsia;
    color: white;
    border-radius: 10px;
    font-size: 10px;
}

.nuvolaverde2{
    background-color:#9acd32;
    color: white;
    border-radius: 10px;
    font-size: 10px;
}